body {
  position: relative;
  margin: 0%;
}

ul.nav-pills {
  margin: 0%;
  padding: 0%;
  position: fixed;
}

div.col-sm-9 div {
  font-size: 12px;
}

.container{
  margin: 0px;
}

.nav {
  width: 200px;
  margin-top: 0%;
  padding: 0%;
  background-color: #f9f2f4ff;
  position: fixed;
  height: 100%;
}

.col-sm-9 {
  width: 700px;
}

.profile {
  text-align: center;
}

.profile p{
  color: rgb(15, 15, 15);
  font-size: 14px;
}

.container .row .col-sm-3 .nav li a:hover,
.container .row .col-sm-3 .nav li a.active{
  color: #0c7db1;
  /* background:rgb(247, 245, 245); */
  border-right: 2px solid rgb(5, 68, 104);
}

.container .row .col-sm-3 .nav li a:hover:before,
.container .row .col-sm-3 .nav li a.active:after{
  display: block;
}

.container .row .col-sm-3 .nav li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.container .row .col-sm-9 section p {
  text-align: justify;
}

.container .row .col-sm-9 section ul p{
  text-align: justify;
}