body {
  position: relative;
}
ul.nav-pills {
  top: 20px;
  position: fixed;
}
div.col-sm-9 div {
  font-size: 12px;
}

.container{
  margin-top: 0px;
}

.nav {
  /* background: rgb(5, 68, 104); */
  width: 220px;
  margin-top: 0px;
}

.profile {
  margin-bottom: 30px;
  text-align: center;
}

.profile h3{
  margin: 10px 0 5px;
}

.profile p{
  color: rgb(15, 15, 15);
  font-size: 14px;
}

.container .row .col-sm-3 .nav li a:hover,
.container .row .col-sm-3 .nav li a.active{
  color: #0c7db1;
  background:rgb(83, 82, 82);
  border-right: 2px solid rgb(5, 68, 104);
}

.container .row .col-sm-3 .nav li a:hover,
.container .row .col-sm-3 .nav li a.active{
  color: #0c7db1;
  background:rgb(247, 245, 245);
  border-right: 2px solid rgb(5, 68, 104);
}

.container .row .col-sm-3 .nav li a:hover:before,
.container .row .col-sm-3 .nav li a.active:after{
  display: block;
}

.container .row .col-sm-3 .nav li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}